body{
    background-color: #cfe0e8;
    font-family: sans-serif;
}

.container{
    width: 80%;
    height: 100vh;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

.card{
    display: flex;
    width: 400px;
    height: 450px;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b7d7e8;
}

h1{
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
    color: #3b3a30;
}

hr {
    display: block;
    width: 400px;
    height: 3px;
    margin: 3px;
    background-color: #daebe8;
}

p {
    font-size: 18px;
    font-family: sans-serif;
    color: #3b3a30;
}

button {
    background-color: white;
    text-align: center;
    color: #87bdd8;
    font-size: 18px;
    margin: 5px;
    padding: 15px;
    display: inline-block;
    font-family: sans-serif;
    border: 3px solid #87bdd8;
    width: 100px;
    
}

button:hover{
    background-color: #cfe0e8;
}





